@charset "utf-8";
.icons{
	width:50px;
}

body {
    background-color: rgb(255, 255, 255);
    background-attachment: fixed;
    font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace", sans-serif;
    color: rgb(0, 0, 0);
}

/* Apply the spacing to your content containers instead of the whole body */
div.art, footer {
    margin: 10px;
}

/**********************************************************/
.tiny{
	max-width: 50px;
}


.searchyarchive{

	background-image: url('../img/a2_2000.webp');
}

.mainarchive{
	background-image: url('../img/background.png');
	background-size:contain;

	hr{
	border: none;               /* Remove default browser 3D border */
    border-top: 1px dashed #000000; /* Use border-top for a clean line */
    height: 0;                  /* Ensure no extra internal height */
    width: 100%;           rgb(0, 0, 0) Optional: ensure it spans the container */
    margin: 20px 0;
	};

}


@-webkit-keyframes dark{
	0% {
		color: rgb(253, 135, 0);
	}

	50% {
		color: rgb(255, 0, 0);
	}

	70% {
		color: #7f0000;
	}


	100% {
		color: rgb(59, 5, 23);
	}
}

.darkmagictext {
	-webkit-animation: dark 2s infinite alternate;
}


@-webkit-keyframes magic {
	0% {
		color: dodgerblue;
	}

	25% {
		color: lightseagreen;
	}

	50% {
		color: lime;
	}

	75% {
		color: coral;
	}

	85% {
		color: mediumpurple;
	}

	100% {
		color: palevioletred;
	}
}

.magictext {
	-webkit-animation: magic 4s infinite alternate;
}



h4 {
	font-size: 15px;
}

h3,a{
color:rgb(148, 148, 22)!important;
}

a.footer a {
	color: black;
	text-decoration: bold;
}

a,
footer,
a:visited {
				color: rgb(0, 0, 0);
	
}

@-webkit-keyframes pastelmagic {
	0% {
		color: rgb(255, 167, 167);
	}

	25% {
		color: rgb(162, 255, 199);
	}

	50% {
		color: rgb(192, 176, 255);
	}

	100% {
		color: rgb(255, 0, 0);
	}
}



.thumbs img:hover {
	opacity: 0.6;
	color: #7f0000;;
}


/* Shrink thumbnail size if the screen size is 600px wide or less */
@media screen and (max-width: 600px) {


 @media screen and (max-width: 600px) {
    .archive-container {
        overflow-x: auto; /* Only scrolls if the content physically cannot fit */
        width: 100%;
        margin: 10px 0;
    }

    .archive-table {
        table-layout: fixed;
        width: 200%; /* This allows the table to be wider than the phone so people can swipe */
        min-width: 500px; /* This is okay ONLY if overflow-x is set to auto */
    }
}


	/* comic shit first*/
	.comic_icons {
    width: 120px;
}

/* This part handles screens smaller than 600px */
    .archive-item {
        flex-direction: column; /* Stack text and image vertically */
        align-items: center;
        text-align: center;
        gap: 10px;
    }

    .hover-thumb {
        display: block !important; /* Force the image to show */
        position: static;          /* Remove the "floating" pop-up behavior */
        width: 100%;               /* Make it as wide as the container */
        max-width: 250px;          /* But don't let it get huge */
        margin-top: 10px;
        border: 2px solid #00ff00;
        pointer-events: auto;      /* Allow tapping */
    }

    /* Remove the hover logic so it doesn't flicker on tap */
    .archive-item:hover .hover-thumb {
        display: block; 
    }


	.freakyfooter {
    display: flex;
    flex-direction: row;      /* Force horizontal */
    flex-wrap: nowrap;        /* DO NOT let them stack */
    justify-content: center;  /* Center the group */
    align-items: center;      /* Align them vertically in the middle */
    width: 100%;
    box-sizing: border-box;
}

.freakyfooter img {
    height: auto;
    flex-shrink: 1;           /* Allows them to shrink if the screen is tiny */
    min-width: 0;             /* Essential for shrinking to work */
}



	/* THE RESt*/

	.biopic{
		max-width: 460px;
	}

	body {
		font-size: smaller;
		padding: 2px;

	}
	.thumbs img {
		width: 30px;
		height: auto;
	}

	.full img.tall {
		width: 100%;
		height: auto;

	}

	.comic img {
		width: 100%;

	}

	.bigpic img {
		max-width: 450px;
	}

	.icons{
		width:50px;
	}
	.minipic {
		max-width: 100px;
	}
	.sidepane{

	font-size: smaller;
}
 
.dropdown-content{
}


.banner{/*big banner */
	max-width: 440px;
}


.midpic{
	max-width: 350px;
}

}
#copyright{
	color:#786401;
}

.wandering{
	hr{
	border: none;               /* Remove default browser 3D border */
    border-top: 1px dashed #e7e7e7; /* Use border-top for a clean line */
    height: 0;                  /* Ensure no extra internal height */
    width: 100%;                /* Optional: ensure it spans the container */
    margin: 20px 0;
	}
	
	text-align: center;
	background-color: rgb(0, 0, 0);
	
;
	color:rgb(220, 220, 220);
	.dropdown-toggle::after{
		background-image: url('../img/icons/menulines_small_white.png');
	};
	h3,h2{
		color:rgb(87, 86, 83);
	}

	a{
		color:#4db200;
	}

	a:hover{
		color:#ffffff;
	}

	}
	 .flipped-x{
		 transform: scaleX(-1);
	}


	.thumbs{
		max-width: 50px;
	}

	.current{
		color:rgb(34, 44, 33)!important;
		pointer-events: none;
	}



/* ALL COMIC CSS  GOES HERE for Wandering******************* */
.comic{
	display:block;
	margin: auto;
	width: 100%;
	max-width: 600px;
}

.comic img{
	display:block;
	margin: auto;
	max-width: 600px;
}

.comicicons {
    width: 200px; /* Adjust size as needed */
    height: auto;
    display: inline-block; /* Ensure it renders */
    visibility: visible !important; /* Force visibility */
}


.banner{/*big banner */
	max-width: 400px;
}

  .logo{
	/* Dimensions: Keep it consistent */
  width: 300px; 
  height: 300px;
  
  /* Image Quality: Prevents stretching/squishing */
  object-fit: contain;
 
  }



  @-webkit-keyframes pastelmagic {
	0% {
		color: rgb(255, 167, 167);
	}

	25% {
		color: rgb(162, 255, 199);
	}

	50% {
		color: rgb(192, 176, 255);
	}

	100% {
		color: rgb(255, 0, 0);
	}
}


.faithlessdancer{
	max-width: 1000px;
	background-color: #000000;
}

.searcherfiller{
	max-width: 900px;
	background-color: #000000;
}


